@font-face {
  font-family: franklingothic;
  src: url('../assets/fonts/franklingothic-bookit.woff');
}

.test {
  color: blue;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.logo {
  max-width: 100px;
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
h2 {
  color: red;
  font-family: franklingothic;
}
.add {
  margin-bottom: 10px;
}
.listToDo {
  .item,
  .header {
    display: flex;
    flex-direction: row;
    div {
      flex-grow: 1;
      text-align: center;
    }
  }
  .header {
    padding: 10px;
    background: pink;
    div {
      font-weight: bold;
    }
  }
  .body {
    .item {
      padding: 5px;
      &:nth-child(odd) {
        background: #ccc;
      }
    }
  }
}